
*.vsidx
.vs/Organizer/v17/.suo
bin/Debug/net6.0/Organizer.dll
bin/Debug/net6.0/Organizer.pdb
db.sqlite
obj/Debug/net6.0/Organizer.dll
obj/Debug/net6.0/Organizer.pdb
obj/Debug/net6.0/ref/Organizer.dll
obj/Debug/net6.0/refint/Organizer.dll
.sonarqube/conf/SonarQubeAnalysisConfig.xml
.sonarqube/conf/Sonar-vbnet-none.ruleset
.sonarqube/conf/Sonar-cs.ruleset
.sonarqube/conf/Sonar-cs-none.ruleset
.sonarqube/conf/Sonar-cs-none.ruleset
.sonarqube/conf/cs/SonarLint.xml
.sonarqube/conf/0/SonarProjectConfig.xml
.sonarqube/conf/0/ProjectOutFolderPath.txt
.sonarqube/conf/0/FilesToAnalyze.txt
.sonarqube/bin/SonarScanner.MSBuild.Tasks.dll
.sonarqube/bin/SonarScanner.MSBuild.Common.dll
.sonarqube/conf/Sonar-vbnet.ruleset
.sonarqube/bin/Newtonsoft.Json.dll
.sonarqube/conf/vbnet/SonarLint.xml
.sonarqube/out/.sonar/.sonar_lock
.sonarqube/out/.sonar/report-task.txt
.sonarqube/out/0/Issues.json
.sonarqube/out/0/output-cs/file-metadata.pb
.sonarqube/out/0/output-cs/log.pb
.sonarqube/out/0/output-cs/metrics.pb
.sonarqube/out/0/output-cs/symrefs.pb
.sonarqube/out/0/output-cs/token-cpd.pb
.sonarqube/out/0/output-cs/token-type.pb
.sonarqube/out/0/ProjectInfo.xml
.sonarqube/out/ProjectInfo.log
.sonarqube/out/sonar-project.properties
.vs/Organizer/DesignTimeBuild/.dtbcache.v2
.vs/Organizer/v17/.futdcache.v2
.vs/Organizer/v17/.suo
.vs/Organizer/v17/HierarchyCache.v1.txt
.vs/ProjectEvaluation/organizer.metadata.v5.1
bin/Debug/net6.0/Organizer.deps.json
.vs/ProjectEvaluation/organizer.projects.v5.1
bin/Debug/net6.0/Organizer.pdb
bin/Debug/net6.0/Organizer.dll
obj/Debug/net6.0/Organizer.csproj.AssemblyReference.cache
obj/Debug/net6.0/Organizer.assets.cache
obj/Debug/net6.0/Organizer.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Organizer.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Organizer.pdb
obj/Debug/net6.0/Organizer.dll
obj/Debug/net6.0/ref/Organizer.dll
obj/Debug/net6.0/refint/Organizer.dll
obj/Debug/net6.0/staticwebassets.build.json
obj/Organizer.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
Organizer.csproj
