<form asp-controller="Home" asp-action="Index" method="get" role="form" asp-route-page="@(Model.PageNumber)">
    <p>
        Search <input type="text" name="SearchString" value="@Model.SearchString" />
        <input type="hidden" name="itemsOnPage" value="@Model.itemsOnPage" />
        <input type="submit" value="Filter" />
    </p>
</form>